* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FCF6B1;
}

h1 {
    background-color: #002642;
    color: white;
    height: 3rem;
    line-height: 3rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.choice:hover {
    opacity: 2;
    cursor: pointer;
    background-color: #002642;
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

#msg {
    background-color: #002642;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem; 
}